<div class="divisao"></div>
<div class="box-listagem" ng-init="LoadDados()">
    <div class="col s12">
        <div class="col s2">
            <div ng-include="'/app/pages/gerencial/_menu.html'"></div>
        </div>

        <div id="responsiva" class="container">
			<div class="menu-box-listagem">
						<center><h5><b>Cadastro Pet's</b> - Informe os dados do Pet</h5></center>
			</div>
                <div style="width:95%; margin:auto;" class="col s12">
                    <div id="responsiva" class="container">
                        <div class="row">
                            <form ng-submit="CadastrarAnimal()" id="formAnimal" class="col s12" method="post">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input required ng-model="animal.nome" id="nome_pet" name="nome" type="text" class="validate" />
                                        <label for="last_name">Nome (Obrigatório)</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <div class="row">
                                            <div class="file-field">
                                                <div class="btn black input-field col m2 right">
                                                    <center>
                                                        <span>Foto</span>
                                                        <input type="file" accept="image/*" file-input="animal.file">
                                                    </center>
                                                </div>
                                                <div class="col m0.5"></div>
                                                <div class="input-field col m10">
                                                    <div class="file-path-wrapper black-text">
                                                        <input class="file-path validate black-text" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="col m1.5"><span>Sexo:</span></div>
                                            <div class="col m5.25">
                                                <input width="200" required ng-model="animal.sexo" name="sexo" value="macho" type="radio" id="test1" class="validate" />
                                                <label for="test1">Macho</label>
                                            </div>
                                            <div class="col m5.25">
                                                <input required ng-model="animal.sexo" name="sexo" value="femea" type="radio" id="test2" class="validate" />
                                                <label for="test2">Fêmea</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="col m1.5"><span>Especie:</span></div>
                                            <div class="col m2.5">
                                                <input required ng-model="animal.especie" name="especie" value="1" type="radio" id="test3" class="validate" />
                                                <label for="test3">Cão</label>
                                            </div>
                                            <div class="col m2.5">
                                                <input required ng-model="animal.especie" name="especie" value="2" type="radio" id="test4" class="validate" />
                                                <label for="test4">Gato</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="col s1.5"><span>Castrado:</span></div>
                                            <div class="col s2.5">
                                                <input required ng-model="animal.castrado" name="castrado" value="s" type="radio" id="test5" class="validate" />
                                                <label for="test5">Sim</label>
                                            </div>
                                            <div class="col m2.5">
                                                <input required ng-model="animal.castrado" name="castrado" value="n" type="radio" id="test6" class="validate" />
                                                <label for="test6">Não</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="input-field col m1">
                                                <i class="material-icons prefix black-text">pets</i>
                                            </div>
                                            <div class="col m0.5"></div>
                                            <div class="input-field col m10.5">
                                                <select class="browser-default" name="idade" ng-model="animal.idade">
                                                <option value="" disabled selected>Informe a idade do Pet</option>
                                                <option value="1">Até 1 ano (Filhote)</option>
                                                <option value="2">1 a 8 anos (Adulto)</option>
                                                <option value="3">Acima de 8 anos (Idoso)</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="input-field col m1">
                                                <i class="material-icons prefix black-text">pets</i>
                                            </div>
                                            <div class="col m0.5"></div>
                                            <div class="input-field col m10.5">
                                                <select ng-model="animal.porte" class="browser-default" name="porte">
                                                <option value="" disabled selected>Informe o porte do pet</option>
                                                <option value="1">Pequeno</option>
                                                <option value="2">Médio</option>
                                                <option value="3">Grande</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix black-text">book</i>
                                            </div>
                                            <div class="col m0.5"></div>
                                            <div class="input-field col m10.5">
                                                <select ng-model="animal.instituicao" class="browser-default" name="instituicao">
                                                <option value="" disabled selected>Informe a Instituição</option>
                                                <option value="1">ONG Proteger</option>
                                                <option value="2">João Junior</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="input-field col m1">
                                                <i class="material-icons prefix black-text">border_color</i>
                                            </div>
                                            <div class="col m0.5"></div>
                                            <div class="input-field col m10.5">
                                                <select id="vacina_pet" class="browser-default" name="vacinas" ng-model="animal.vacinas">
                                                <option value="" disabled selected>Vacinas e vermífugos</option>
                                                <option value="1">Dontral</option>
                                                <option value="2">Canex</option>
                                                <option value="3">Virbac</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col m4">
                                        <div class="row">
                                            <div class="input-field col m1">
                                                <i class="material-icons prefix black-text">border_color</i>
                                            </div>
                                            <div class="col m0.5"></div>
                                            <div class="input-field col m10.5">
                                                <select id="temperamento_pet" class="browser-default" name="temperamento" ng-model="animal.temperamento">
                                                <option value="" disabled selected>Informe o temperamento do Pet</option>
                                                <option value="1">Dócil</option>
                                                <option value="2">Amigável</option>
                                                <option value="3">Agressivo</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m12">
                                        <i class="material-icons prefix black-text">border_color</i>
                                        <input required ng-model="animal.observacao" id="obs_pet" name="observacao" type="text" class="validate">
                                        <label for="last_name">Observações</label>
                                    </div>
                                </div>

                                <center>
                                    <div class="div-botoes col m12">
                                        <button class="btn waves-effect waves-light black" type="reset">
                                            Limpar<i class="material-icons right">delete_sweep</i>
                                        </button>
                                    <div class="col m1"></div>
                                        <button id="Salvar" class="btn waves-effect waves-light black" type="submit" name="btn_salvar">
                                            Concluir<i class="material-icons right">insert_comment</i>
                                        </button>
                                    </div>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
			<br>
        </div>
    </div>
</div>
<br>