<nav class="nav-extended black fixo">
    <div class="nav-content">
        <ul class="tabs tabs-transparent menu">
            <li class="tab"><a class="active" href="/">Inicio</a></li>
            <li class="tab"><a class="active modal-trigger" ng-click="modal(p)">Quem Somos</a></li>
            <li class="tab"><a class="active modal-trigger" ng-click="modal(p)">Como Adotar</a></li>
            <li class="tab"><a class="active" href="/admin">Login</a></li>
            <li class="tab"><a class="active" href="">Fale Conosco</a></li>
        </ul>
    </div>
    <div id="logo"></div>
</nav>
